/* SORT */

#g-sort-container {
    position: absolute;
    top: 890px;
    background-color: white;
    width: 2280px;
    height: auto;
    -webkit-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#g-sort-title {
    width: 1000px;
    height: 130px;
    background-color: white;
    margin: 20px 0px -50px 30px;
    font-size: 56px;
    font-family: h2;
}

#g-sort-box {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    background-color: white;
    padding: 20px;
}


#g-sort-sound{position: absolute;left: 2211px;border: 38px solid white;border-radius: 110px;-webkit-box-shadow: 10px 10px 32px -8px rgba(0,0,0,0.75);-moz-box-shadow: 10px 10px 32px -8px rgba(0,0,0,0.75);box-shadow: 10px 10px 32px -8px rgba(0,0,0,0.75);top: -53px;}


.g-sort {
    padding: 56px;
    margin: 4px;
    background-color: white;
    font-size: 56px;
    color: back;
    height: 39px;
    -webkit-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    font-family: h1;
}




/* List */

#g-select-container {
    position: absolute;
    top: 890px;
    width: 2100px;
    background-color: white;
    padding: 20px;
    -webkit-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
}

#g-select-title {
    font-size: 57px;
    font-family: h2;
    margin: 0 0 0px 24px;
    display: flex;
    justify-content: left;
    align-items: center;
}

#g-select-game {
    display: flex;
    justify-content: left;
    align-self: center;
    flex-wrap: wrap;
    height: auto;
    background-color: white;
    padding: 20px;
}

.g-select-box {
    margin: 7px 0 0 0px;
    font-size: 25px;
    font-family: h1;
    width: auto;
}

.g-select {}

.s-text {
    font-size: 56px;
    font-family: h1;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

#g-select-sound{position: absolute;border: 38px solid white;border-radius: 110px;-webkit-box-shadow: 10px 10px 32px -8px rgba(0,0,0,0.75);-moz-box-shadow: 10px 10px 32px -8px rgba(0,0,0,0.75);box-shadow: 10px 10px 32px -8px rgba(0,0,0,0.75);left: 2065px;top: -72px;}

#s-check {
    position: absolute;
    top: -56px;
    left: 1680px;
    width: 300px;
    background-color: #00a1d9;
    color: white;
    height: 60px;
    font-size: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: h1;
    -webkit-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    border: 20px solid #00a1d9;
}



/*Button game*/

#g-button-container {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}


#g-button-box-text {
    position: absolute;
    top: 890px;
    background-color: white;
    width: 2230px;
    -webkit-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
}

#g-button-title {
    font-size: 56px;
    margin: 20px 0px 0px 40px;
}

.g-button {
    padding: 10px;
    background-color: white;
    margin: 2px;
    font-size: 56px;
    font-family: h1;
}

#g-button-check {
    position: absolute;
    background-color: #00a1d9;
    color: white;
    width: 370px;
    flex-wrap: wrap;
    padding: 10px;
    top: 845px;
    left: 1885px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 56px;
    font-family: h1;
    -webkit-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
}
#g-button-sound{position: absolute;left: 1404px;margin: 30px 0 0px 760px;border: 38px solid white;border-radius: 110px;-webkit-box-shadow: 10px 10px 32px -8px rgba(0,0,0,0.75);-moz-box-shadow: 10px 10px 32px -8px rgba(0,0,0,0.75);box-shadow: 10px 10px 32px -8px rgba(0,0,0,0.75);top: -90px;}

#g-info {
    position: absolute;
    background-color: white;
    width: 880px;
    flex-wrap: wrap;
    padding: 10px;
    top: 787px;
    left: 168px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 56px;
    font-family: h2;
    -webkit-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
}

#g-button-box {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
}



/*Text*/

#g-text-container {
    position: absolute;
    top: 810px;
    width: 1500px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px;
    -webkit-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 3px 3px 8px 0px rgba(50, 50, 50, 0.75);
    z-index: 1;
}

#g-text-play {
    padding: 10px;
    z-index: 2;
    width: 107px;
    height: 107px;
}

#g-text-title {
    width: 1290px;
    padding: 0 0 0 20px;
    font-size: 57px;
}

#g-text-content {
    width: 1290px;
    padding: 10px;
    font-size: 25px;
    height: 450px;
    overflow: scroll;
    display: flex;
    justify-content: left;
    align-content: first baseline;
    flex-wrap: wrap;
}

#g-text-exit {
    padding: 10px;
}

#g-text-box {}

.g-content {
    visibility: hidden;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 57px;
    font-family: h1;
    font-size: 57px;
}

#g-text-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    visibility: hidden;
}